In [1]:
import pandas as pd

In [14]:
df = pd.read_json(r'C:\Users\prasad\Desktop\t.json')

In [15]:
print(df)

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       160        70
5  Female       157        82

In [5]:
import os

In [6]:
os.getcwd()

'C:\\Users\\prasad'

In [16]:
d=pd.DataFrame(df)

In [19]:
d

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       160        70
5  Female       157        82

In [22]:
df['Heightm']=df['HeightCm']/100

In [23]:
d

   Gender  HeightCm  WeightKg  Heightm
0    Male       171        96     1.71
1    Male       161        85     1.61
2    Male       180        77     1.80
3  Female       166        62     1.66
4  Female       160        70     1.60
5  Female       157        82     1.57

In [27]:
d['BMI']=d['WeightKg']/d['Heightm']**2

In [28]:
d

   Gender  HeightCm  WeightKg  Heightm        BMI
0    Male       171        96     1.71  32.830615
1    Male       161        85     1.61  32.791945
2    Male       180        77     1.80  23.765432
3  Female       166        62     1.66  22.499637
4  Female       160        70     1.60  27.343750
5  Female       157        82     1.57  33.267070

In [33]:
d.loc[d['BMI'] <= 18.4, 'BMI Category'] = 'Underweight' 
d.loc[d['BMI'] >= 18.5, 'BMI Category'] = 'Normal weight' 
d.loc[d['BMI'] >=25, 'BMI Category'] = 'Overweight'
d.loc[d['BMI'] >=30, 'BMI Category'] = 'Moderately obese' 
d.loc[d['BMI']>=35, 'BMI Category'] = 'Severely obese' 
d.loc[d['BMI'] >=40, 'BMI Category'] = 'Very severely obese'

In [34]:
d

   Gender  HeightCm  WeightKg  Heightm        BMI      BMI Category
0    Male       171        96     1.71  32.830615  Moderately obese
1    Male       161        85     1.61  32.791945  Moderately obese
2    Male       180        77     1.80  23.765432     Normal weight
3  Female       166        62     1.66  22.499637     Normal weight
4  Female       160        70     1.60  27.343750        Overweight
5  Female       157        82     1.57  33.267070  Moderately obese

In [36]:
d.loc[d['BMI Category']=='Underweight','Health risk']='Malnutrition'
d.loc[d['BMI Category']=='Normal weight','Health risk']='Low risk'
d.loc[d['BMI Category']=='Overweight','Health risk']='Enhanced risk'
d.loc[d['BMI Category']=='Moderately obese','Health risk']='Medium risk'
d.loc[d['BMI Category']=='Severely obese','Health risk']='High risk'
d.loc[d['BMI Category']=='Very severely obese','Health risk']='Very High risk'

In [37]:
d

,Gender,HeightCm,WeightKg,Heightm,BMI,BMI Category,Health risk
0,Male,171,96,1.71,32.830615,Moderately obese,Medium risk
1,Male,161,85,1.61,32.791945,Moderately obese,Medium risk
2,Male,180,77,1.80,23.765432,Normal weight,Low risk
3,Female,166,62,1.66,22.499637,Normal weight,Low risk
4,Female,160,70,1.60,27.343750,Overweight,Enhanced risk
5,Female,157,82,1.57,33.267070,Moderately obese,Medium risk

In [38]:
d.count()

Gender          6
HeightCm        6
WeightKg        6
Heightm         6
BMI             6
BMI Category    6
Health risk     6
dtype: int64

In [51]:
count=0
for i in d['BMI Category']:
    if i=="Normal weight":
        count=count+1
print(count)

2